@import url('https://fonts.googleapis.com/css?family=Nunito');


$background: rgb(244 241 235 / 30%);
$inline: rgba(223, 229, 229, 0.61);
$primary: #3f5b87;
$success: #3f8749;
$danger: #992f2f;
$secondary: #565656;
$purple: #6a187a;
$active: rgb(96 126 170 / 45%);
$menu: #1C3879;
@import "iosmenu";


body {
    background-color: $background;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
}

.navbar {
    background-color: $menu;
}

.btn-own-primary {
    color: white;
    background-color: $primary;

    &:hover, &:active {
        color: white;
        background-color: $primary;
    }

    padding: 10px;
    border: 0px;
}

.btn-primary{
    color: white;
    background-color: $primary;

    &:hover, &:active {
        color: white;
        background-color: $primary;
    }
    padding: 10px;
    border: 0px;
}


.btn-own-success {
    color: white;
    background-color: $success;

    &:hover, &:active {
        color: white;
        background-color: $success;
    }

    padding: 10px;
    border: 0px;
}

.btn-own-danger {
    color: white;
    background-color: $danger;

    &:hover, &:active {
        color: white;
        background-color: $danger;
    }

    padding: 10px;
    border: 0px;
}

.btn-own-secondary {
    color: white;
    background-color: $secondary;

    &:hover, &:active {
        color: white;
        background-color: $secondary;
    }

    padding: 10px;
    border: 0px;
}

.btn-own-purple {
    color: white;
    background-color: $purple;

    &:hover, &:active {
        color: white;
        background-color: $purple;
    }

    padding: 10px;
    border: 0px;
}

.page-item.active .page-link {
    background-color: $primary;
    border-color: $primary;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: $active
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    background-color: $primary;
    border-color: $primary;
}

.fc-today-button, .fc-next-button, .fc-prev-button {
    background-color: $primary;
    border-color: $primary;

    &:hover, &:active, &:disabled {
        background-color: $primary;
        border-color: $primary;
    }
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: $inline;
}

.fc .fc-list-empty {
    background-color: transparent;
}

.fc-theme-bootstrap5 .fc-list, .fc-theme-bootstrap5 .fc-scrollgrid, .fc-theme-bootstrap5 td, .fc-theme-bootstrap5 th {
    border: 0px;
}

.fc-theme-bootstrap5-shaded {
    background-color: $primary;
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary;
    border-color: $primary;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: $primary;
    color: white;
}

.fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
    background-color: $primary;
    color: white;
}

.succes_icon {
    color: rgb(34, 185, 34);
    cursor: pointer;
}


.btn-dark {
    background-color: #343A40;
}

.card-header {
    background-color: #343A3F;
    color: white;
}

.grecaptcha-badge {
    visibility: hidden;
    display: none;
}

#notif_bell {
    color: white;
}

#notif_bell.active {
    color: #DC3545;
}

.offcanvas-end {
    width: 600px;
}

.card-sub {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card-sub:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-sub h3 {
    font-weight: 600;
}

small a {
    text-decoration: none;
    color: #4D8BF4;
}

.file_card{
    width: 10rem;
    cursor:pointer;
}
