// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.succes_icon {
    color: rgb(34, 185, 34);
    cursor: pointer;
}


.btn-dark {
    background-color: #343A40;
}

.card-header {
    background-color: #343A3F;
    color: white;
}

.grecaptcha-badge {
    visibility: hidden;
    display: none;
}

#notif_bell {
    color: white;
}
#notif_bell.active {
    color: #DC3545;
}

.offcanvas-end{
width: 600px;
}
